@import '../../styles/variables';

.expense-wrap {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  margin: 1rem 0;
  font-weight: 100;
  font-size: 1.7rem;
}

.expense {
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    border-color: $color-primary;
  }

  &__list {
    margin: 0;
    padding: 2rem 0;
    list-style: none;
  }

  &__header-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
  }
}
