@import '../../styles/variables';

.main__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem;
}

.main__dashboard,
.main__aside {
  display: flex;
  flex-direction: column;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 0 0 2rem;
  }

  &__total-price {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem;
    font-weight: 100;
    font-size: 1.7rem;
  }

  &__balance {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  &__icon-wrap {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: $color-primary;
    margin-right: 2rem;
    color: $color-light-font;
    fill: $color-light-font;
    stroke: currentColor;

    svg {
      fill: $color-light-font;
      width: 1.5rem;
      height: 1.7rem;
    }

    //&_light {
    //  fill: $color-dark-font;
    //  color: $color-dark-font;
    //}
  }
}

.balance {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
  font-weight: 100;
  font-size: 1.7rem;
}


