@import '../../styles/main.scss';

.wallet__image_light {
  border: 2px solid $color-dark-font;
  background-color:  $color-secondary;
  fill: $color-dark-font;
  stroke: $color-dark-font;
}

.wallet__subtitle {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  @media (max-width: 1430px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.wallet__alert {
  font-size: 2rem;
  padding: 1rem 0; 
  color: $color-error;
}