@import '../styles/mixins.scss';
@import './variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: 'GeneralSans', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

.dark-mode-background {
  background-color: $color-dark-background;
}

.dark-mode-menu-background {
  background-color: $color-dark-mode;
}

.dark-mode-title {
  color: $color-light-font;
}

.dark-mode-font {
  color: $color-light-font;
}

.light-mode-background {
  background-color: $color-light-mode;
}

.light-mode-menu-background {
  background-color: $color-light-sections;
}

.light-mode-font {
  color: $color-dark-font;
}

.light-mode-title {
  color: $color-black-font;
}

p {
  margin: 0;
}

.error-validation-message {
  color: #fb0a0a;
  font-size: 1.3rem;
  padding-top: 0.3rem;
}

.main {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.test-class {
  font-size: 2rem;
  color: $color-light-mode;
  margin: 0 auto;
}

