@import '../styles/mixins.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

.dark-mode-background {
  background-color: $color-dark-mode;
}

.dark-mode-title {
  color: $color-light-font;
}

.dark-mode-font {
  color: $color-light-font;
}

.light-mode-background {
  background-color: $color-light-mode;
}

.light-mode-font {
  color: $color-dark-font;
}

.light-mode-title {
  color: $color-black-font;
}