$color-primary: #5063BF; // кнопки темные
$color-secondary: #8BC2E8; // кнопки светлые
$color-dark-mode: #1D1D41; // фон секций для темной темы
$color-light-mode: #ffffff; // фон для светлой темы
$color-light-font: #ffffff; // цвет текста при темной теме
$color-black-font: #1E1E1E; // цвет заголовков текста при светлой теме, то что нужно прям выделить
$color-dark-font: #334187; // основной цвет текста при светлой теме
$color-dim-font: #8C89B4; // цвет приглушенного текста в обоих темах
$color-dark-background: #141332; // фон для темной темы
$color-line-dark: #4B4B99;

$color-light-sections: #8EDFEB; // фон для секций в светлой теме


$color-error: #dc3545;
$color-success: #198754;
