$color-primary: #5063BF; // кнопки темные
$color-secondary: #E7EBFF; // кнопки светлые и светлый фон в модальных окнах и боковой панели
$color-dark-mode: #1D1D41; // фон секций для темной темы
$color-light-mode: #ffffff; // фон для светлой темы
$color-light-font: #ffffff; // цвет текста при темной теме
$color-black-font: #1E1E1E; // цвет заголовков текста при светлой теме, то что нужно прям выделить
$color-dark-font: #334187; // основной цвет текста при светлой теме
$color-dim-font: #646280; // цвет приглушенного текста в обоих темах
$color-dark-background: #141332; // фон для темной темы
$color-line-dark: #4B4B99;


$color-error: #dc3545;
$color-success: #198754;

$color-calendar-weekend: #de6f7a;
$color-calendar-weekend-dark: #da515f;
